body {
  font-family: sans-serif;
  background-color: lightgray;
}
.container {
  max-width: 1000px;
  background-color: white;
  text-align: center;
  margin: none;
  margin-left: 400px;
}
ul {
  position: center;
  background-color: white;
  text-align: center;
}
